section#page-header
    .core-content
        h1.col_6
            a(href="/") BattleCruisers
        .col_5
            h2.col_12 Eminent Domain Universe
            h3.col_12 A Philip Dubarry Game
        .col_1
            a(href="//playtmg.com/" target="_blank")
                img(src="/static/images/core/tmg-logo-150x150.png")

    span(ng-show="game.turn_number > 0") - Turn: {{ game.turn_number }}
