-var icon_classes = "{"
-icon_classes += " 'icon-user':icon == 'team'"
-icon_classes += ",'icon-th-list':icon == 'ammo'"
-icon_classes += ",'fa-rmb':icon == 'circuit'"
-icon_classes += ",'fa-times-circle':icon == 'blocker'"
-icon_classes += " }"
.single-card(ng-class="{ 'active-card': active_card }")
    .card-upper
        .card-icons
            i(
                ng-repeat="icon in card.icons" 
                class="card-icon icon" 
                ng-class=icon_classes
            )
        p.number {{ card.id }}
        p.name {{ card.name }}
    img(src="{{ card.images.main }}")
    .card-lower
        .card-effects
            p.main-text {{ card.effect.main }}
        .card-effects
            p.clash-title Clash
            p.clash-text {{ card.effect.conflict }} 
