// Sizes
$se-core-primary = 900px // Inner Page Width

// Font Sizes
$sf-core-singleton-title = 2.4rem
$sf-core-singleton-subtitle = 1.1rem
$sf-core-singleton-attribution = 0.7rem

// Colours
$cfe-game-primary = rgba(0, 0, 0, 0.45)
$cfe-game-contrast = white
$cfe-game-accent = pink

$ce-game-success = green
$ce-game-warning = yellow
$ce-game-error = red
$ce-game-message = cyan
$ce-game-alert = purple

$cfe-game-player-1 = blue
$cfe-game-player-2 = orange
$cfe-game-player-3 = purple
$cfe-game-player-4 = green
$cfe-game-player-5 = black

// Fonts
$f-core-primary = 'Rubik', sans-serif

// Borders
$e-border-primary = 3px double $cfe-game-contrast
$e-border-contrast = 3px double $cfe-game-primary
$e-border-wide = 6px double $cfe-game-contrast
$e-border-thin = 1px solid $cfe-game-contrast

// Global Classes
.core-content
  width: $se-core-primary
  margin: 0 auto
  clearfix()

.pull_right
  float:right
  clearfix()
