*
    box-sizing: border-box
    text-decoration: none
    font-family: $f-core-primary
    font-weight: 300
h1, h2, h3, h4, h5, h6,
strong
    font-weight: 500
table
    border-spacing: 0
    border-collapse: collapse
button
  border: $e-border-primary
  color: $cfe-game-contrast
  background: $cfe-game-primary
  &:hover
    border: $e-border-contrast
    color: $cfe-game-primary
    background: $cfe-game-contrast
.player-1
  background-color: $cfe-game-player-1
.player-2
  background-color: $cfe-game-player-2
.player-3
  background-color: $cfe-game-player-3
.player-4
  background-color: $cfe-game-player-4
.player-5
  background-color: $cfe-game-player-5
