*
    box-sizing: border-box

.red-alert
    background-color: red
    border: 10px solid maroon
.eliminated
    background-color: silver
    border: 10px solid gray
.single-card
    display: inline-block
    width: 150px
    position: relative
    padding: 7px 7px 5px
    background-color: black
    border-radius: 15px
    border: 1px solid white
    color: white
    z-index: 1
    &.active-card
        z-index: 2
    .card-icons
        float: left
        i
            float:left
            clear:left
    .name
        font-size: 1.4rem
    .number
        float: right
        font-size: 2.0rem
        padding: 5%
        border-radius: 50%
        border: 4px silver solid
        color: silver
        margin: 0
        line-height: 35px
        height: 60px
        width: 60px
        text-align: center
    img
        clear: both
        height: 10px
        width: 100%
        margin-bottom: 10px
        background-color: silver

    .card-effects
        border: 1px solid silver
        margin-bottom: 10px
        font-size: 0.8rem
        p
            margin: 3px
            &.clash-title
                float: right
                margin: -10px 10px 0
                background-color: black
            &.clash-text
                clear: right
                text-align: right
                color: red
                font-size: 0.6rem
.card-icon
    background-color: green
    border: 2px solid black
    border-radius: 50%
    display: inline-block
    height: 25px
    width: 25px

    &[class*="icon-"]:before
        margin: 25% 20%

.local-play-area
    background-color: lightgreen
    border: solid black 4px
    border-radius: 20px
.ai-play-area
    background-color: lightpink
    border: solid black 4px
    border-radius: 20px
