#page-header,
& a
  color: white
  h1, h2, h3
    font-family: $f-core-primary
    text-transform: uppercase
    margin: 0
    text-align: center
  h1 a
    font-weight: 900
    font-size: $sf-core-singleton-title
  h2
    font-weight: 400
    font-size: $sf-core-singleton-subtitle
  h3
    font-weight: 300
    font-size: $sf-core-singleton-attribution
    letter-spacing: 4px
  a
    display: block
    float: right
  img
    height: 45px
    width: 45px
  div[class*="col_"]
    margin: 5px 0 0
